---
import { Image } from "astro:assets";
import { MedalIcon, GraduationCapIcon } from "lucide-preact";
import AppLayout from "@Layouts/AppLayout.astro";
import { profileData, socialIcons } from "@Data/profile";
import type { SocialType } from "@AppTypes/data";
import Tile from "@Components/Tile.astro";

const meImg = profileData.avatar.landing;
const bioMeImg = profileData.avatar.bio!;
---

<AppLayout title={profileData.pageTitle} username={profileData.info.name}>
  <section id="me" class="section-me">
    <div class="landing-container">
      <div class="landing-photo">
        <Image class="landing-me" src={meImg} alt="Me" />
      </div>
      <div class="landing-info">
        <p>Hi, I'm</p>
        <h1>{profileData.info.name}</h1>
        <h2>{profileData.info.title}</h2>
        <div class="landing-cta">
          <a
            class="btn btn-cv"
            href="https://github.com/nhulox97/resume/blob/main/Sergio.Bernal.Resume.pdf"
            target="_blank">Download CV</a
          >
          <button class="btn btn-contact">Contact Info</button>
        </div>
        <div class="landing-socials">
          {
            Object.entries(profileData.social).map(([index, url]) => {
              const icon = index as SocialType;
              const Icon = socialIcons[icon];

              return (
                <a href={url} class="social" target="_blank">
                  <Icon size={28} />
                </a>
              );
            })
          }
        </div>
      </div>
    </div>
  </section>
  <section id="bio" class="section-bio">
    <div class="bio-container">
      <div class="bio-title">
        <p>Get to know me</p>
        <h1>About me</h1>
      </div>
      <div class="bio-info">
        <div class="bio-photo">
          <Image class="bio-me" src={bioMeImg} alt="Me bio" />
        </div>
        <div class="bio-more">
          <div class="bio-tiles">
            <Tile
              Icon={MedalIcon}
              title="Experience"
              line1={profileData.info.yearsOfExperience}
              line2={profileData.info.title}
            />
            <Tile
              Icon={GraduationCapIcon}
              title="Education"
              line1={profileData.info.education}
            />
          </div>
          <p class="bio-desc">
            {profileData.info.bio}
          </p>
        </div>
      </div>
    </div>
  </section>
</AppLayout>

<style>
  section {
    height: 90dvh;
    display: flex;
    flex-direction: column;
  }

  .landing-container {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    height: 100%;
  }

  .landing-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-container > div > * {
    margin-block: 5px;
  }

  .landing-photo > .landing-me {
    clip-path: circle();
    height: 350px;
    width: 350px;
  }

  .landing-info > p {
    font-weight: 600;
    color: var(--fg-alt-col);
    font-size: 1.1em;
  }

  .landing-info > h2 {
    color: var(--primary-col);
  }

  .landing-socials {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-block-start: 10px;
  }

  .landing-socials > .social {
    color: var(--fg-alt-col);
  }

  .landing-socials > .social:hover {
    color: var(--fg-col);
    transition: color 0.2s ease-in-out;
    transtion: -webkit-color 0.2s ease-in-out;
  }

  .landing-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block-start: 10px;
  }

  .btn {
    border: 1.25px solid var(--fg-col);
    border-radius: 32px;
    font-size: 12px;
    font-weight: 700;
    margin-inline: 1em;
    padding-inline: 18px;
    padding-block: 10px;
    transition: 0.4s;
  }

  .btn-cv:hover {
    background-color: var(--fg-col);
    color: var(--bg-col);
  }

  .btn-contact {
    background-color: var(--fg-col);
    color: var(--bg-col);
  }

  .btn-contact:hover {
    background-color: var(--fg-alt-col);
    border-color: var(--fg-alt-col);
    color: var(--bg-alt-col);
  }

  .bio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .bio-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .bio-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bio-photo > .bio-me {
    border-radius: 20px;
    height: 300px;
    width: 300px;
  }

  .bio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bio-title > h1 {
    color: var(--primary-col);
  }

  .bio-title > p {
    font-size: 16px;
  }

  .bio-more {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
  }

  .bio-tiles {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
  }

  .bio-desc {
    color: var(--fg-col);
    font-size: 18px;
    text-align: justify;
  }

  @media (max-width: 725px) {
    section {
      height: fit-content;
      margin-block-end: 3em;
    }

    .landing-container {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
    }

    .bio-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .bio-photo > .bio-me {
      height: 280px;
      width: 280px;
    }

    .bio-tiles {
      flex-direction: column;
    }

    .landing-photo > .landing-me {
      height: 280px;
      width: 280px;
    }
  }
</style>
